TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token_here
BUSINESSES_JSON=[{"twilioNumber":"+15551234567","name":"Trent Valley Plumbing","forwardTo":"+15559876543","textBackMessage":"Hey, sorry we missed your call! Someone from Trent Valley Plumbing will call you back shortly."}]
